/* app css stylesheet */

.menu {
  list-style: none;
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.header {
  background: #ccc;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.content {
  float: left;
  width: 700px;
}
.sidebar {
  margin-left: 720px;
}
google-map {
  height: 300px;
}
.thumbnail {
  width: 150px;
  float: left;
  margin-right: 20px;
}
.casos {
  list-style: none;
}
