/* app css stylesheet */

.menu {
  list-style: none;
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.header {
  background: #ccc;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
